PG_HOST=localhost
PG_PORT=5432
POSTGRES_DB=retail_source
POSTGRES_USER=retail_admin
POSTGRES_PASSWORD=RetailDev@2026!

FABRIC_WORKSPACE_ID=your_workspace_id_here
FABRIC_LAKEHOUSE_ID=your_lakehouse_id_here

EXTERNAL_API_BASE_URL=https://api.example.com
EXTERNAL_API_KEY=your_api_key_here